
body {
    margin: 0;
    padding: 0;
}
a {
    display: block;
    text-decoration: none;
    outline: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;   
}
.container{
    width: 1140px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #ffff99;
}
.header_logo a {
    display: inline-block;
}
.header_logo a img{
    max-height: 80px;
}
.header_nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

.header_nav ul li a {
    color: black;
    font-size: 16px;
}
.header_nav {
    line-height: 84px;
    
}
.header_nav ul li{
    border: 4px solid rgb(241, 181, 40);
    height: 20px;
    font-size: 20px;
    border-radius: 15px;
    line-height: 20px;
}
.header_nav ul li:hover{
    box-shadow: 10px;
    transform: scale(0.9);
}
.header_content_left {
    display: flex;
}
.header_content_right ul li {
    line-height: 20px;
    border: 3px solid rgb(255, 218, 139);
    height: 25px;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;
    margin-left: 7px;
    width: 33px;
    display: inline-block;
}
.header_content_right ul li:hover{
    box-shadow: 10px;
    transform: scale(0.9);
}
.header_content_right ul li a{
    color: rgb(207, 158, 43);
    font-size: 17px;
    line-height: 25px;
}
.header_content_right ul{
    line-height: 84px;
}
.background {
    background: linear-gradient(0deg, rgba(255,255,255,1) 43%, rgba(255,255,144,1) 84%);
}
.subscribe {
    display: flex;
}
.subscribe_text p{
    width: 350px;
}
.chenar {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(255, 218, 139);
    height: 29px;
    border: 2px solid orange;
    padding-left: 15px;
    width: 179px;
    outline: 0;
}
.subscribe_form {
        padding-top: 20px;
        margin-left: 20px;
        outline: 0px;
}
.btn-form {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: orange;
    height: 35px;
    border: 2px solid orange;
    padding-left: 15px;
    width: 200px;
    outline: 0;
    font-size: 15px;
    color: white;
}
::placeholder {
    color: #000000;
  }
  .btn-form:hover {
      box-shadow: 0px 0px 7px;
      background-color: transparent;
      color: orange;
      cursor: pointer;
  }
 
#img_card_puma {
    height: 61px;
    width: 96px;
}
.logo_puma {
    margin-top: 10px;
    width: 120px;
}
.product_card {
    width: 300px;
    position: relative;
    box-shadow: 1px 1px 25px 2px #5f5f5f73;
    height: 413px;
    border-radius: 16px;
    overflow: hidden;
    top: 50px;
    margin-left: 60px;
}
.product_card:hover {
    transform: scale(1.02);
}
#produs_img_1 {
    height: 250px;
    width: 205px;
    position: relative;
}
.product_img {
   margin-left: 54px;
}
.price {
    margin-left: 13px;
    font-size: 18px;
    font-weight: 700;
    margin-top: -30px;
}
.price span {
    color: #c2fb04;
    font-size: 50px;
}
.add_to_fav {
    margin-left: 24px;
    margin-right: 21px;
    text-decoration: none;
    background: hsl(74, 97%, 50%);
    padding: 30px 20px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 16px;
   text-align: center;
   height: 0px;
   width: 129px;
   padding-top: 10px;
}
.add_to_fav:hover {
    transform: scale(1.1);
}
.product_cerc {
    height: 250px;
    width: 250px;
    position: absolute;
    background-color: #c2fb04;
    border-radius: 50%;
    margin-left: 104px;
    margin-top: -100px;
}

.product_colors .color {
    position: relative;
    width: 22px;
    height: 22px;
}
.product_colors .color input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.product_colors .color .color_check {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #444;
}
.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
}

.colors .color {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.colors .color span {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: grayscale(50%);
}

.colors .color:first-child span {
    background-color: red;
}

.colors .color:nth-child(2) span {
    background-color: #c2fb04;
}

.colors .color:last-child span {
    background-color: blue;
}
.colors .color-2:last-child span {
    background-color: cyan;
}

.colors .color input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 30px;
}
.colors .color input:checked~span {
    border: 2px solid #666;
    filter: grayscale(0);
    top: -2px;
}
.partea_de_jos_buton {
    display: flex;
    margin-top: 27px;
}
.add_to_fav a {
    color: white;
}
#img_card_puma {
    height: 61px;
    width: 96px;
}
.logo_puma {
    margin-top: 10px;
    width: 120px;
}
.product_card2 {
    width: 300px;
    position: relative;
    box-shadow: 1px 1px 25px 2px #5f5f5f73;
    height: 413px;
    border-radius: 16px;
    overflow: hidden;
    top: 50px;
}
.product_card2:hover {
    transform: scale(1.02);
}
#produs_img_2 {
    height: 250px;
    width: 205px;
    position: relative;
}
.product_img2 {
   margin-left: 54px;
}
.price2 {
    margin-left: 13px;
    font-size: 18px;
    font-weight: 700;
    margin-top: -30px;
}
.price2 span {
    color: #92948b;
    font-size: 50px;
}
.add_to_fav2 {
    margin-left: 24px;
    margin-right: 21px;
    text-decoration: none;
    background: #92948b;
    padding: 30px 20px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 16px;
   text-align: center;
   height: 0px;
   width: 129px;
   padding-top: 10px;
}
.add_to_fav2:hover {
    transform: scale(1.1);
}
.product_cerc2 {
    height: 250px;
    width: 250px;
    position: absolute;
    background-color: #92948b;
    border-radius: 50%;
    margin-left: 104px;
    margin-top: -100px;
}

.product_colors .color2 {
    position: relative;
    width: 22px;
    height: 22px;
}
.product_colors .color2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.partea_de_jos_buton2 {
    display: flex;
    margin-top: 27px;
}
.add_to_fav2 a {
    color: white;
}
#img_card_puma {
    height: 61px;
    width: 96px;
}
.logo_puma {
    margin-top: 10px;
    width: 120px;
}
.product_card3 {
    width: 300px;
    position: relative;
    box-shadow: 1px 1px 25px 2px #5f5f5f73;
    height: 413px;
    border-radius: 16px;
    overflow: hidden;
    top: 50px;
}
.product_card3:hover {
    transform: scale(1.02);
}
#produs_img_3 {
    height: 250px;
    width: 218px;
    position: relative;
}
.product_img3 {
   margin-left: 54px;
}
.price3 {
    margin-left: 13px;
    font-size: 18px;
    font-weight: 700;
    margin-top: -30px;
}
.price3 span {
    color: cyan;
    font-size: 50px;
}
.add_to_fav3 {
    margin-left: 24px;
    margin-right: 21px;
    text-decoration: none;
    background: cyan;
    padding: 30px 20px;
    color: aliceblue;
    font-size: 18px;
    border-radius: 16px;
   text-align: center;
   height: 0px;
   width: 129px;
   padding-top: 10px;
}
.add_to_fav3:hover {
    transform: scale(1.1);
}
.product_cerc3 {
    height: 250px;
    width: 250px;
    position: absolute;
    background-color: cyan;
    border-radius: 50%;
    margin-left: 104px;
    margin-top: -100px;
}

.product_colors .color3 {
    position: relative;
    width: 22px;
    height: 22px;
}
.product_colors .color3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.product_colors .color3 .color_check {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #444;
}
.colors3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
}

.colors3 .color3 {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.colors3 .color3 span {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: grayscale(50%);
}

.colors3 .color3:first-child span {
    background-color: rgb(229, 255, 0);
}

.colors3 .color3:nth-child(2) span {
    background-color: rgb(253, 8, 151);
}

.colors3 .color3:last-child span {
    background-color: rgb(10, 246, 235);
}

.colors .color3 input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 30px;
}
.colors3 .color3 input:checked~span {
    border: 2px solid #666;
    filter: grayscale(0);
    top: -2px;
}
.partea_de_jos_buton3 {
    display: flex;
    margin-top: 27px;
}
.add_to_fav3 a {
    color: white;
}
.products_wrapper {
    display: flex;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.info {
    width: 100%;
    padding-top: 80px;
}

.info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16x;
    color: #111;
    line-height: 24px;
}

.PUMA_responsive {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }
    .info {
        width: 100%;
    }
    .info h2 {
        padding: 20px 0px 0px;
    }
    
    .info p {
        padding: 20px 0px 0px;
    }

    .PUMA_responsive {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }
    
    .PUMA_responsive {
        padding-top: 100px;
        width: 50%;
        float: left;
    }

    .info {
        width: 50%;
        float: right;
    }

    .info h2 {
        padding: 20px 0px 0px 30px;
    }
    
    .info p {
        padding: 20px 0px 0px 30px;
    }
}